<template>
  <div>
    <div class="card">
      <div class="card-body bg-light text-dark">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form-login-username-input"
              >Username</label
            >
            <input
              type="text"
              id="form-login-username-input"
              class="form-control"
              v-model="inputUsername"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form-login-password-input"
              >Password</label
            >
            <input
              type="password"
              id="form-login-password-input"
              class="form-control"
              v-model="inputPassword"
            />
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <!-- Checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form-login-remember-me-checkbox"
                  checked
                />
                <label
                  class="form-check-label"
                  for="form-login-remember-me-checkbox"
                >
                  Remember me
                </label>
              </div>
            </div>

            <div class="col">
              <!-- Simple link -->
              <a href="#!">Forgot password?</a>
            </div>
          </div>

          <!-- Submit button -->
          <div class="d-grid gap-2 mb-4">
            <button class="btn btn-primary" type="submit" @click="login">
              Login
            </button>
          </div>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
          </div>
        </form>
      </div>
    </div>
    <div>{{ responseBody }}</div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      inputUsername: "",
      inputPassword: "",
      responseBody: {},
      errors: [],
    };
  },

  methods: {
    login() {
      let requestBody = {
        username: this.inputUsername,
        password: this.inputPassword,
        browser: navigator.userAgent,
        ip: "127.0.0.1",
        system: "macos",
      };

      console.log(requestBody);

      axios
        .post(`http://localhost:7000/api/auth`, requestBody)
        .then((response) => {
          this.responseBody = response.data;
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
  },
};
</script>

<style scoped>
.card {
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
}
</style>
