<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5 border">
      <div class="container-fluid">
        <router-link to="/" class="navbar-brand">
          <img src="./assets/logo.png" alt="Rodrigo Odhin" />
        </router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <router-link
            to="/register"
            class="btn btn-danger btn-sm m-2"
            aria-pressed="false"
            >Register</router-link
          >
          <router-link to="/login" class="btn btn-danger btn-sm m-2"
            >Login</router-link
          >
        </div>
      </div>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
};
</script>

<style lang="scss" scoped></style>
